body {
    background: #1c222d;
    margin: 0;
    padding: 0;
    color: #596172;
    font-family: Courier New, Courier, monospace;
    font-size: 18pt;
}
h1 {
    color: #ec4c56;
}
a {
    color: #384a7e;
}
#hello-world {
    cursor: pointer;
}
.photo-zoom {
    object-fit: cover;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100%;
}
.photo-hue {
    filter: brightness(66%) sepia(100%) hue-rotate(300deg);
}
.text-area {
    padding: 1vh 1vw;
}
.inline {
    display: flex;
    align-items: center;
}
.no-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50vw;
    display: block;
    overflow: hidden
}
.start-screen {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.start-photo {
    background: #1c222d;
    margin: 0;
    padding: 0;
}
.start-intro {
    background: #242933;
    flex: 0 0 60%;
    max-width: 60%;
}

@media only screen and (min-width: 1281px) {
    .start-screen {
        flex-direction: row;
        min-height: 100vh;
        width: 100%;
    }
    .start-photo {
        height: 100vh;
        max-width: 40%;
        flex-grow: 2;
    }
    .start-intro {
        min-height: 100vh;
        font-size: 18pt;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1280px) {
    .start-screen {
        flex-direction: row;
        min-height: 100vh;
        width: 100%;
    }
    .start-photo {
        height: 100vh;
        min-width: 40%;
    }
    .start-intro {
        min-height: 100vh;
        font-size: 15pt;
    }
}

@media only screen and (min-width: 480px) and (max-width: 799px) {
    .start-screen {
        flex-direction: row;
        min-height: 100vh;
        min-width: 100vw;
    }
    .start-photo {
        display: none;
    }
    .start-intro {
        min-height: 100vh;
        min-width: 100vw;
        font-size: 15pt;
    }
}
